<ion-header>
  <ion-toolbar>
    <ion-title>sections</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main>
    <div class="container">
      <h2>Sections</h2>

      <section class="sub-container">
        <form #sectionForm="ngForm" (submit)="addSection(sectionForm)" enctype="multipart/form-data">

          <ion-item>
            <ion-label position="floating" color="primary">Section name</ion-label>
            <ion-input type="text" name="name" [(ngModel)]="section.title"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="file" name="image" [(ngModel)]="section.image" (change)="showImage($event)"></ion-input>
          </ion-item>

          <ion-button type="submit" expand="full" id="save-button">Save</ion-button>

          <img *ngIf="preview" [src]="preview" alt="" id="image-preview">
        </form>
      </section>

    </div>
  </main>

  <section class="table-section">
    <app-table-section></app-table-section>
  </section>

</ion-content>
