<ion-header>
  <ion-toolbar>
    <ion-title>photos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Photos</h1>

  <h3>Plaase, take a photo with the system ESP32 camera in the administration office. Answer them if you can take one photo</h3>
  <h3>Reload the table anytime you want</h3>

  <div class="refresh-container">
    <ion-button color="success" fill="full"> <ion-icon name="refresh"></ion-icon> </ion-button>
  </div>

  <table>

    <thead>
      <tr>
        <th class="r1">Id</th>
        <th class="r2">Photo</th>
        <th class="r3">Operation</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th>Example</th>
        <th>Example</th>
        <th> <ion-button color="danger"> <ion-icon name="close-circle"></ion-icon> </ion-button> </th>
      </tr>
    </tbody>

  </table>

</ion-content>
